<!DOCTYPE HTML>

<html>
	<head>
		<title>Team</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/Team.css" />
	</head>
	<body>
		<section id = "header">
			<nav id="nav">
				<a href="index.html">Introduction</a>
				<a href="Team.html">The Team</a>
			</nav>
		</section>
		<section class="member one">
			<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
			<p class = "info">this is a about me </p>
		</section>
		<section class="member two">
				<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
		</section>
		<section class="member three">
					<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
		</section>
		<section class="member four">
						<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
		</section>
		<!-- Header --><!-- Main --><!-- Sidebar -->
		<!-- Excerpts --><!-- Excerpt --><!-- Excerpt -->
		<!-- Excerpt --><!-- Highlights --><!-- Highlight -->
		<!-- Highlight --><!-- Content --><!-- Post -->
		<!-- Footer -->
		<!-- Scripts -->
		
	</body>
</html>