<!DOCTYPE HTML>

<html>
	<head>
		<title>Team</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/less/Team.css" />
	</head>
	<body>
		<section id = "header">
				<nav>
						<ul>
							<li><a class="home" href="index.html"><span>Intro</span></a></li>
							<li><a href="Team.html" class="home"><span>About Team<span></a></li>
						</ul>
					</nav>
		</section>
		<section class="member one" data-tab="1">
			<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
			<div class=" info one-me">
				<p class = "aboutMe">For the time being, please message our team leader regarding projects and tasks that need completing, we are working on creating a directory to allow contact with each member of the team. So please, contact Hargo with any and all questions, comments, or concerns.</p>
				<a href="#" class = "plink">link to  github</a>
				<a href="#" class = "plink">link to  website</a>
				<a href="#" class = "plink">link to portfolio</a>
				<a href="#" class = "plink">link to media</a>
			</div>
		</section>

		<section class="member two" data-tab="2">
				<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
		</section>

		<section class="member three" data-tab="3">
					<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
		</section>

		<section class="member four" data-tab="4">
						<!-- propics are pictures -->
			<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
		</section>

		<section class="member five" data-tab="4">
			<!-- propics are pictures -->
<img class = "all-pro-pics" src="/template/images/undraw-profile.svg" alt="defualt profile picture">
</section>


		<!-- Scripts -->
		<script src="/template/assets/js/cards.js"></script>
		
	</body>
</html>