@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;}
  * {
    box-sizing: border-box;
  }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input:-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
/* reset */

html{
max-width:1200px;
margin:0 auto;
font-size: 62.5%;
background:rgb(40, 40, 40);
font-family: "Source Sans Pro"
}

section {
  display:flex;
  border-radius: 15px;
  background:white;
  margin: 20px 10px;
  padding:1.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  //border:2px solid rgba(50, 50, 50, 0.445);
}
nav{
  margin: 20px auto ;
  display: flex;
  flex-direction:column;


}
a{
  font-family: "Source Sans Pro";
  text-decoration: none;
}
.home{
  color:rgb(66, 63, 63);
  margin:0 auto;
  font-size: 3rem;
  padding:  0px 5rem ; 

}
ul{
  display: flex;
}
#header {
  margin: 20px 10px;
}

.plink {
  display: flex;
  justify-content: space-evenly;
  color: #423f3f;
  margin: 0 auto;
  padding: 1rem;
  font-size: 3rem;
}


@keyframes big{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.05);
  }
  100%{
    transform:scale(1);
  }
}

.rad{
  font-size: 2rem;
}
p{
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
h3 {
  text-align: center;
 font-size: 4rem;
}

.foot{
margin: 0 auto;
}
footer{
  margin:0 auto;
}
.info {
  display: none;
}

.sectionPara{
  margin: 20px 10px;
}

.Team {
  color:rgb(60, 138, 255);
}
.team-pic{
  margin: 0 auto;
  max-width: 100%;
  max-height: 400px;
  height: auto;
  padding: 30px ;
}
address{
  margin: 0 auto;
}
.one{
  display: flex;
  flex-direction: column;
}
/* @keyframes blink{
  0%{
    color: grey;
  }
  50%{
    color:  antiquewhite;
  }
  100%{
    coler:grey;
  }
} */
/* mobile */

.about{
  padding:1.5rem;
  margin: 20px auto;
}
.small{
  
  font-size: 2rem;
  text-align: center;
}
@media(max-width:500px){
  .home{
    margin:0 auto;
    padding: 1rem;

  }
.top-n{
  display: flex;
  flex-flow: column;
text-align: center;
}
  
}
@media(min-width:768px){
  nav {flex-direction:row;}
}
 