@import url("font-awesome.min.css");
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v11/tDbM2oWUg0MKoZw1-LPK9g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
/* reset */
html {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 62.5%;
  background-color: #e5e5e5;
  font-family: "Source Sans Pro";
}
section {
  border-radius: 15px;
  border: 1px solid none;
  background: whitesmoke;
  margin: 20px;
  padding: 2rem 2rem;
  display: flex;
}
nav {
  margin: 0 auto ;
  display: flex;
}
a {
  font-family: "Source Sans Pro";
  text-decoration: none;
  color: #423f3f;
  margin: 0 auto;
  font-size: 3rem;
  padding: 0px 5rem ;
  width: 100%;
}
.info {
  display: none;
}
.all-pro-pics {
  height: auto;
  width: 100%;
  margin: 0 auto;
  max-height: 1000px;
}
.member:hover {
  height: auto;
  /* width:100%; */
  margin: 0 auto;
  max-height: 1000px;
  animation: slow 100s running;
  display: flex;
}
.member {
  animation: slow 100s paused;
  margin: 20px auto ;
  flex-direction: row;
}
@keyframes slow {
  0% {
    width: 95%;
  }
  2% {
    width: 40%;
  }
  100% {
    width: 40%;
  }
}
/* mobile */
@media (max-width: 550px) {
  .member:hover {
    /* width:100%; */
    margin: 0 auto;
    animation: slow 8s infinite;
  }
  .member {
    animation: slow 10s paused;
    margin: 0px;
  }
  @keyframes slow {
    0% {
      width: 95%;
      margin: 0px;
      height: 30%;
    }
    2% {
      width: 40%;
      height: 40%;
      margin: 0px;
    }
    100% {
      width: 40%;
    }
  }
}
